.idea
*.iml
out
gen
**/__pycache__/
**/*.py[cod]
venv
.venv
testing.ipynb
testing.py
test.ipynb
test.py
**/AGENTS.md
*.egg-info/
uv.lock
.coverage
.obsidian
dist/
**/html
progress.md
pyproject_temp.toml
temp
.agents
.claude
skills-lock.json
api.md
example.png
.itmkey
